<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>{% block title %}Welcome!{% endblock %}</title>
        {% block stylesheets %}{% endblock %}
    </head>
    <body>
        {% block body %}
            <a href="{{ path('streamer_index') }}">Стримеры</a><br>
            <a href="{{ path('news_index') }}">Новости</a>
        {% endblock %}
        {% block javascripts %}{% endblock %}
    </body>
</html>
